<h5>Chips</h5>

<div class="custom-multi-select">
  <p-multiSelect
    [options]="cities2"
    [(ngModel)]="selectedCities2"
    optionLabel="name"
    defaultLabel="Select Items"
    [maxSelectedLabels]="0"
    [showToggleAll]="true"
    [showHeader]="true"
    [filter]="true"
    [placeholder]="'Choose items...'"
    (onChange)="onSelectionChange($event)"
    [panelStyle]="{ 'overflow': 'auto'}"
    [disabled]="false"
    ></p-multiSelect>

    <!-- Chips para los elementos seleccionados -->
  <div class="chips-container">
    <span *ngFor="let item of selectedCities2" class="chip">
      {{ item.name }}
      <button type="button" class="chip-close" (click)="removeItem(item)">×</button>
    </span>
  </div>
</div>
