<section class="mx-5">
  <div class="stats shadow">
    <div class="stat place-items-center">
      <div class="stat-title">Población</div>
      <div class="stat-value">{{ country().population | number }}</div>
      <div class="stat-desc">Desde {{ currentYear()}}</div>
    </div>

    <div class="stat place-items-center">
      <div class="stat-title">Nombre</div>
      <div class="stat-value text-secondary">{{ country().name}}</div>
      <div class="stat-desc text-secondary">
        {{ country().capital }}
      </div>
    </div>

    <div class="stat place-items-center">
      <div class="stat-title">Bandera</div>
      <div class="stat-value">{{ country().flag}}</div>
      <div class="stat-desc">{{ country().subRegion}}</div>
    </div>
    <div class="stat place-items-center">
      <div class="stat-title">Sub Region</div>
      <div class="stat-value">{{ country().region}}</div>
      <div class="stat-desc">{{ country().subRegion}}</div>
    </div>
  </div>
</section>

<section class="container">

  <div class="diff aspect-[16/9] w-4/12 mx-5 my-10">
    <div class="diff-item-1">
      <img [src]="country().flagSvg" [alt]="'Bandera de ' + country().name" />
    </div>
    <div class="diff-item-2">
      <img class="blur brightness-75 " [src]="country().flagSvg" [alt]="'Bandera de ' + country().name" />
    </div>
    <div class="diff-resizer "></div>
  </div>

</section>
