<section class="mx-10 mb-10">
  <h1 class="text-2xl font-bold">Pipes NO TAN COMUNES</h1>
  <h3 class="text-xl font-thin">Pipes incluidos en Angular</h3>
</section>

<section class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">

  <app-card title="i18nSelectPipe">

    <p>Saludos {{client().name}}, es un placer {{ client().gender | i18nSelect: invitationMap}} a nuestro evento</p>
    <button class="btn btn-primary mt-4" (click)="changeClient()">Cambiar Cliente</button>
  </app-card>

  <app-card title="i18nPluralPipe">

    <p>Actualmente {{clients().length | i18nPlural:clientsMap()}} </p>
    <button class="btn btn-primary mt-4" [disabled]="clients().length === 0" (click)="deleteClient()">Borrar
      Cliente</button>
  </app-card>
  <app-card title="SlicePipe">

    <b>Original</b>
    <p class="text-primary">
      {{ clients().join(', ')}}
    </p>

    <b class="mt2">Slice: 0:2</b>
    <p class="text-primary"> {{clients() | slice:0:2}}</p>

    <b class="mt2">Slice: 1:2</b>
    <p class="text-primary"> {{clients() | slice:1:2}}</p>

    <b class="mt2">Slice: 1:3</b>
    <p class="text-primary"> {{clients() | slice:1:3}}</p>

    <b class="mt2">Slice: 3:4</b>
    <p class="text-primary"> {{clients() | slice:3:4}}</p>

    <b class="mt2">Slice: 0:-3</b>
    <p class="text-primary"> {{clients() | slice:0:-3}}</p>
  </app-card>

  <app-card title="JsonPipe">
    <pre class="text-primary">{{ clients() | json}}</pre>
    <pre class="text-primary">{{ client() | json}}</pre>
    <p class="text-primary">{{ clients().join(", ") | json | uppercase}}</p>
  </app-card>

  <app-card title="KeyValuePipe">
    <!-- <pre class="text-primary">{{ profile | keyvalue | json}}</pre> -->
    <ul>
      @for (item of profile | keyvalue; track $index) {
      <li>
        <strong class="text-primary">{{ item.key | titlecase}}: </strong>
        <span>
          {{ item.value}}
        </span>
      </li>
      }
    </ul>
  </app-card>

  <app-card title="AsyncPipe">
    <p>{{ promiseValue | async}}</p>

    @if( promiseValue | async; as value){
    <p class="text-primary">{{value}}</p>
    } @else {
    <p class="text-accent"> Espere por favor...</p>
    }

    <h3 class="text-2xl"> Observable</h3>
    <p>{{ myObservableTime | async}}</p>

    @if( myObservableTime | async; as value){
    <p class="text-primary">Valor: {{value}}</p>
    }
    <!---->
    @else {
    <p>Esperando primer valor</p>
    }
  </app-card>
</section>
